.FindPersonForm{
	position: absolute;
	height: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.FindPersonForm-inputDropDownContainer{
	width: 500px;
	display: inline-block;
}

.FindPersonForm-inputContainer{
	/*display: flex;*/
	position: relative;
	/*height: 50px;*/
}

.FindPersonForm-input{
	/*border-radius: 4px 0 0 0;*/
	border: 0;
	outline: 0;
	line-height: 15px;
	padding: 6px 0;
	position: relative;
	text-indent: 8px;
	width: 100%;
	/*height: 100%;*/
	/*margin-left:8px;*/
}

/*.FindPersonForm-input:focus{
	outline-width: thin;
	outline-color: #F2CC8F;
	outline-offset: -1px;
	outline-style: solid;
}
*/
.FindPersonForm-btn{
	border-radius: 0 4px 4px 0;
	background: #F2CC8F;
	color: #63474D;
	padding: 0 4px;
	height: 30px;
	position: absolute;
}

.FindPersonForm-btn:hover{
	background: #E3BF86;
}

