.FindPersonForm{
	background: #63474D;
	position: relative;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.FindPersonForm-title{
	color:#FFF;
}

.FindPersonForm-inputContainer{
	display: flex;
}

.FindPersonForm-input{
	border-radius: 4px 0 0 4px;
	border: 0;
	outline: 0;
	line-height: 15px;
	padding: 6px 10px 6px 0;
	position: relative;
	margin-left: 4px; 
	text-indent: 8px;
	width: 300px;
}

/*.FindPersonForm-input:focus{
	outline-width: thin;
	outline-color: #F2CC8F;
	outline-offset: -1px;
	outline-style: solid;
}
*/
.FindPersonForm-btn{
	border-radius: 0 4px 4px 0;
	background: #F2CC8F;
	color: #63474D;
	padding: 0 4px;
}

.FindPersonForm-btn:hover{
	background: #E3BF86;
}

