.Person{
  display: flex;
	flex-direction: row;
	color:#000;
  background:#FFF;
  justify-content: space-between;
  padding: 0 8px;
  width: 100%;
}

.Person:hover{
  background: #E5E5E5;
}

.Person-name{
	font-size: 1em;
}